.big-playlists-container {
    background-color: rgb(39, 38, 46);
  } 

  .playlist-container {

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
  }

  .selected {
    background-color: #007bff; /* Add a different background color for selected cards */
    color: white;
}

