<div>
    <header class="bg-dark">
      <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
          <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
            <div class="text-center">
              <p class="fw-bold text-success mb-2">Welcome to MD Solutions</p>
              <h1 class="fw-bold">Migrate your music libraries Easily!</h1>
            </div>
          </div>
          <div class="col-12 col-lg-10 mx-auto">
            <section>
              <div class="container py-5">
                <div class="mx-auto" style="max-width: 900px;">
                  <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                    <div class="col mb-4">
                      <div class="card bg-info-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                          <img
                            src="assets/img/spotify-logo.png"
                            style="width: 15%; height: 100%; padding-top: 0; margin-top: -45px;"
                            alt="Spotify Logo"
                          />
                          <p class="fw-bold text-info card-text mb-2" style="font-size: 20px;">
                            Spotify
                          </p>
                          <h1 style="font-size: 13.3px; margin-bottom: 17px;">
                            <strong>
                              Connect to your Spotify account, select the playlists and then connect to your Apple Music
                              account.
                            </strong>
                          </h1>
                          <button class="btn btn-info btn-sm" type="button" (click)="startTransfer('Spotify', 'Apple')">
                            Connect
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                      <div class="card bg-secondary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                          <img
                            src="assets/img/apple-logo.png"
                            style="width: 22%; height: 100%; margin-top: -59px; padding-top: 0; margin-bottom: -18px;"
                            alt="Apple Music Logo"
                          />
                          <p class="fw-bold text-secondary card-text mb-2" style="font-size: 20px;">
                            Apple Music
                          </p>
                          <h5 class="fw-bold card-title mb-3" style="font-size: 13.5px;">
                            Connect to your Apple Music account, select the playlists and then connect to your Spotify account.
                          </h5>
                          <button class="btn btn-secondary btn-sm" type="button" (click)="startTransfer('Apple', 'Spotify')">
                            Connect
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="position-relative d-flex flex-wrap justify-content-end">
              <div style="position: relative; flex: 0 0 45%; transform: translate3d(-15%, 35%, 0);">
                <img class="img-fluid" data-bss-parallax data-bss-parallax-speed="0.8" src="assets/img/products/theweekend.jpg" alt="The Weeknd" />
              </div>
              <div style="position: relative; flex: 0 0 45%; transform: translate3d(-5%, 20%, 0);">
                <img class="img-fluid" data-bss-parallax data-bss-parallax-speed="0.4" src="assets/img/products/drake.jpg" alt="Drake" />
              </div>
              <div style="position: relative; flex: 0 0 60%; transform: translate3d(0, 0, 0);">
                <img
                  class="img-fluid"
                  data-bss-parallax
                  data-bss-parallax-speed="0.25"
                  src="assets/img/products/wp4240793-post-malone-beerbongs-and-bentleys-wallpapers.jpg"
                  alt="Post Malone"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  